

@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,900);

body{
  overflow-x:hidden;
}
.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative; 
  height: content; 
  font-size: 2em;
  padding:20px;
  border: solid 3px #0060FF;
  border-radius: 30px;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0060FF;
  top: 50%;
  width: 1000px;
}
.fancy span:before {
  right: 100%;
  margin-right: 0;
}
.fancy span:after {
  left: 100%;
  margin-left: 0;
}

.Services_headline{
  font-size: 1.8em;
  font-weight: normal;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;;
}

.car_repair{
  display: flex;
  justify-content: space-between;
  width:100%;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 2em;
}

.main_car_repair{
  display:flex;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 15%;
}

.main_car_repair img:not(.service_car) {
  flex:none;
  width: 30%;
  text-align: center;
}

.main_car_repair p{
  line-height: 0.5em;
  text-align: center;
}

.service_car{
  flex:none;
  max-width:70%;
}

.car_repair img:not(.service_car) {
  width: 30%;

}

.car_repair p{
  line-height: 0.5em;
}

/*----labels-----------------------------*/
.service_item1{
  visibility: normal;
  position: absolute;
  background-color: 	#D3D3D3;
  text-align: left;
  max-width: 15%;
  border-radius: 5px;
  padding: 0.5em;
  display: none;
  font-size: 0.9em;
}

.service_item_bottom{
  visibility: normal;
  position: absolute;
  max-width: 15%;
  background-color: 	#D3D3D3;
  text-align: left;
  left:30%;
  border-radius: 5px;
  padding: 0.5em;
  display: none;
  font-size: 0.9em;
}

.service_item_bottom1{
  visibility: normal;
  position: absolute;
  max-width: 15%;
  background-color: 	#D3D3D3;
  text-align: left;
  left:53%;
  border-radius: 5px;
  padding: 0.5em;
  display: none;
  font-size: 0.9em;
}

.service_item_bottom2{
  visibility: normal;
  position: absolute;
  max-width: 15%;
  background-color: 	#D3D3D3;
  text-align: left;
  left:76%;
  border-radius: 5px;
  padding: 0.5em;
  display: none;
  font-size: 0.9em;
}

.main_icon{
  text-align: center;
  width:15%;
  cursor: pointer;
  margin: auto;  
}

.main_icon p{
  font-size: 1em;
}

.main_icon:hover > .service_item1 {
  display: block;
  animation: fadein 1s;
}

.main_icon:hover > .service_item_bottom{
  display: block;
  animation: fadein 1s;
}

.main_icon:hover > .service_item_bottom1{
  display: block;
  animation: fadein 1s;
}

.main_icon:hover > .service_item_bottom2{
  display: block;
  animation: fadein 1s;
}



/*-----------------------------end of labels------------------------------------------------------------------*/

.service_order{
  margin-top: 1.5em;
  margin-left: 15%;
  margin-right: 15%;
  display:flex;
}

.service_order_pic {
  width:50%;
  float:left;
  display: block;
}

.service_order_article{
  width: 50%;
  float:left;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #C4C4C4;
  height:inherit;
  text-align: center;
}

.service_order_article span{
  text-align: center;
  display: block;
  font-size: 1.3em;
}

.service_order_article p{
  text-align: left;
  font-size: 1em;
}

.service_order_article button{
  cursor: pointer;
  margin-top: 10%;
  background-color: #FFD000;
  font-size: 1.3em;
  border: 2px solid #FFA500;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  outline:none;
  box-shadow: 0px 4px 0px #b27300  ;
  cursor:pointer;
}

.service_order_article button:hover{
  background-color: #daff00 ;
  box-shadow: 0px 4px 0px #e69500 ;

}

.service_order_article button:active{
  box-shadow: 0px 2px 0px #FFA500;
}

/*Outer block styles*/



.orderBtn{
  width: 40%;
  text-decoration: none;
  color: #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  text-align: center;
  font-size:1.2em;
  border: solid 2px #e69500;
  line-height: 3;
  border-radius: 20px;
  background-color: #FFD000 ;
  box-shadow: 0px 4px 0px #e69500  ;

}

.orderBtn:hover{
  background-color: #ffde23 ;
  box-shadow: 0px 4px 0px #e69500 ;
}

.orderBtn:active{
  box-shadow: 0px 1px 0px #e69500;
}

.orderBtn img{
  margin-left: 10px;
}

.Btn{
  margin-top: 15%;
}

.Btn img{
  position: relative;
  z-index: 10;
}
.Info_head{
  max-width: 100%;
  overflow-x: hidden;
}

/*--------------------------------------end of Outer block styles --------------------------------------------*/

@media (max-width: 1700px){
  .car_repair {
    padding-left: 5%;
    padding-right: 5%;
  }
  .main_car_repair {
    margin-left: 5%;
    margin-right: 5%;
  }
  .service_order {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 1200px){
  .service_order_article {
    width: 50%;
    float: left;
    /* padding-top: 20px; */
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 1100px){
  .Btn {
    margin-top: 5%;
}
}
@media (max-width: 1000px){
  .orderBtn {
    margin-bottom: 2%;
  }
  .Btn {
    margin-top: 0;
}
}
@media (max-width: 900px){
  .service_order_article p {
    text-align: left;
    font-size: 1em;
    margin: 0;
  }
}

@media (max-width: 830px){
  .service_item1 span {
    display: none;
  }
  .service_item_bottom span {
    display: none;
  }
  .service_item_bottom1 span{
    display: none;
  }
  .service_item_bottom2 span{
    display: none;
  }
  .Services_headline {
    font-size: 1.5em;
  }
  .service_order {
    margin-top: 1.5em;
    margin-left: 0;
    margin-right: 0;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
  }
  .service_order_article {
    width: 70%;
    /* float: left; */
    /* padding-top: 20px; */
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
  }
  .service_order_pic {
    width: 70%;
    float: left;
    display: block;
    margin: auto;
  }
  .main_car_repair p {
    white-space: nowrap;
  }
  .main_icon p {
    white-space: nowrap;
  }
  .main_icon p {
    white-space: nowrap;
    font-size: 0.8em;
}
}
@media (max-width: 550px){
  .orderBtn {
   width: 50%;
  }
}
@media (max-width: 500px){
  #contact_form1:target {
    width: 100%;
  }
  .Services_headline {
    font-size: 1.2em;
  }
  .main_icon p {
    font-size: 0.6em;
  }
  .car_repair {
    padding-left: 0;
    padding-right: 0;
}
.main_car_repair {
  margin-left: 0;
  margin-right: 0;
}
.service_order_pic {
  width: 100%;
}
.service_order_article {
  width: 100%;
}
.orderBtn {
  width: 60%;
}
}
@media (max-width: 400px){
  .main_icon p {
    display: none;
}
.car_repair img:not(.service_car) {
  width: 40%;
}
.main_car_repair img:not(.service_car) {
  width: 40%;
}
}



