

@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,900);

.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative; 
  height: content; 
  font-size: 2em;
  padding:20px;
  border: solid 2px blue;
  border-radius: 30px;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: blue;
  top: 50%;
  width: 1000px;
}
.fancy span:before {
  right: 100%;
  margin-right: 0;
}
.fancy span:after {
  left: 100%;
  margin-left: 0;
}

.Services_headline{
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;;
}

.car_repair{
  display: flex;
  justify-content: space-between;
  width:100%;
  padding-left: 15%;
  padding-right: 15%;
}

.main_car_repair{
  display:flex;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
}

.main_car_repair img:not(.service_car) {
  flex:none;
  width: 5%;
}

.service_car{
  flex:none;
  max-width:70%;
}

.car_repair:not(.service_car) img{
  width:5%;
}

.service_order{
  margin-top: 50px;
  margin-left: 15%;
  margin-right: 15%;
  display:flex;
}

.service_order_pic {
  width:50%;
  float:left;
  display: block;
}

.service_order_article{
  width: 50%;
  float:left;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #C4C4C4;
  height:inherit;
  text-align: center;
}

.service_order_article span{
  text-align: center;
  display: block;
  font-size: 1.3em;
}

.service_order_article p{
  text-align: left;
  font-size: 1em;
}

.service_order_article button{
  margin-top: 10%;
  background-color: #FFD000;
  font-size: 1.3em;
  border: 2px solid #FFA500;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
}


