
header{
    background-image: url("banner.png");
    display: flex;
    align-items: center;
    flex-direction: row;
    min-height: 80px;
    padding:0;
    margin:0;
}

#headlines{
    font-style: normal;
    margin:0;
    padding:0;
    }

    #headlines li{
        display: inline;
    }

    .header_contacts{
        margin-left: 150px;
        color: #000;
    }

    .header_contacts a{
        text-decoration: none;
        color: #000;
        font-size: 1.3em;
        font-family: 'Exo 2', sans-serif;
        
    }

    .header_contacts p{
        line-height: 30px;
        padding: 0;
        margin: 0;
    }

    .header_contacts span{
        font-size: 0.9em;
        font-family: 'Exo 2', sans-serif;

    }

    