
header{
    background-image: url("banner.png");
    display: flex;
    align-items: center;
    flex-direction: row;
    min-height: 80px;
    width:100%
}

#headlines{
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    margin:0;
    padding:0;
    }

    #headlines li{
        display: inline;
    }

    .header_contacts{
        margin-left: 100px;
        color: #000;
    }

    .header_contacts a{
        text-decoration: none;
        color: #000;
        font-size: 1.2em;
        
    }

    .header_contacts span{
        font-size: 0.9em;
    }

    