
    header{
    background-image: url("banner.png");
    display: flex;
    align-items: center;
    flex-direction: row;
    min-height: 80px;
    padding:0;
    margin:0;
}

.logo1{
    display: none;
}

    .header-btn{
    display: none;
    }

    #headlines{
    font-style: normal;
    list-style: none;
    margin:0;
    padding:0;
    }

    #headlines li{
        display: inline;
    }

    .header_contacts{
        position:absolute;
        right:5%;
        color: #000;
    }

    .header_contacts a{
        text-decoration: none;
        color: #000;
        font-size: 1.4em;
        font-family: 'Exo 2', sans-serif;
        
    }

    .header_contacts p{
        line-height: 30px;
        padding: 0;
        margin: 0;
    }

    .header_contacts span{
        font-size: 0.95em;
        font-family: 'Exo 2', sans-serif;

    }
    /****************--------------MEDIA QUERIES******************************/

    @media (max-width:1500px){
        #headlines li a{
            padding: 0.4em 1.0em;
            margin: 0.6em;
        }
    }

    @media (max-width:1350px){
        #headlines li a {
            padding: 0.6em 0.5em;
            margin: 0.4em;
        }
    }

    /*************************************MAX WIDTH 1250px***********************/

    @media (max-width:1250px){
        .header_contacts {
            display: flex;
        }
        .header_contacts span{
            display: none;
        }
        .header_contacts{
            right:2%;
        }
        .header_contacts p{
           cursor: pointer;
            border-bottom: 1px solid #000;
            margin-right: 20px;
        }
        a[href='/']{
            margin: 0 auto;
        } 
        #headlines{
        background-color:  rgba(255, 255, 255, 0.7);
        position: absolute;
        top: 150px;
        left: -100%;
        /* left: -100%; */
        width: 36%;
        transition: all .5s;
        z-index: 7;
        height: 100vh;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        }
        #headlines.active{
            background-color:  rgba(255, 255, 255, 0.7);
            position: absolute;
            top: 150px;
            left:0;
            /* left: -100%; */
            width: 36%;
            transition: all .5s;
            z-index: 7;
            display: block;
            height: 100vh;

            -webkit-transition: all 0.5s ease-in;
            -moz-transition: all 0.5s ease-in;
            -o-transition: all 0.5s ease-in;
            transition: all 0.5s ease-in;
        }

        #headlines li{
            padding: 0;
            margin:auto;  
            line-height: 0;
        }
        #headlines li a:not(:last-child){
            border-bottom: 1px solid #000;
        }
        #headlines li a{
            display: block;
            border: none;
            font-size: 2em;
            margin: 0;
            padding:40px 10px;
            width: 100%;
            height: 20px;
            line-height: 0;
            border-bottom: 1px solid #000;
            border-radius: 0;
        }
        #headlines li a:active{
            background: #fff;
        }
    
        .header-btn{
        width: 80px;
        height: 80px;
   
        border-radius: 10%;
        margin: auto 5%;
        background: rgba(255, 255, 255, 0.1);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        }

        .header-btn div{
        width: 40px;
        height: 4px;
        background-color: #ffffff;
        margin: 6px 0;
        }
        .menu-container{
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: -1;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0);
            display: block;
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
        /* display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(90, 90, 90, 0.3);
        z-index: 9999;
        transition: all .5s; */
        }

    }

    @media (max-width:1200px){
        .header_contacts{
            display: block;
            margin: auto 2%;
        }
        .header_contacts a{
            line-height: 2;
        }
        #headlines{
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
        }
        #headlines.active{
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
        }
    }

    @media (max-width: 900px){
        #headlines, #headlines.active{
            width: 50%;
        }
    }
    
    @media (max-width: 830px){
      .header_contacts{
          display: none;
      }
    }

    /* @media (max-width: 900px){
        .phone_call{
            display: block;
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 100;
            background-color: rgba( 77,165,3, 1) ;
            border-radius: 50%;
            padding: 10px;
        }
    } */

    @media (max-width: 800px){
        .header-btn{
            position: relative;
        }
        header{
            height: 130px;
        }
        #headlines, #headlines.active{
            top:130px;
        }
    }
    @media (max-width: 670px){
        #headlines, #headlines.active{
            width: 70%;
        }
    }
    @media (max-width: 540px){
        .header-btn{
            min-width: 25%;
            max-width: 100%;
            height: 80px;
            border-radius: 0;
            height: 100%;
            margin: 0;
        }
        .header-btn div {
            width: 55%;
            height: 5px;
            margin: 7px 0;
            padding: 0 10px;
        }
    }

    @media (max-width: 500px){
        a[href="/"]{
            margin: 0;
        }
        .header-btn{
            min-width: 25%;
            background: rgba(255, 255, 255, 0);
        }
        header{
            height: 120px;
        }
        #headlines, #headlines.active{
            top:120px;
        }
        .Main_logo {
            /* width: 100%;
             */
             width: 100%;
        }
        .header-btn div {
            width: 55%;
            height: 4px;
            margin: 5px 0;
        }
        #headlines li{
            word-wrap: break-word; 
            line-height: normal;
        }
        #headlines li a {
            line-height: normal;
            padding: 0.6em 0.5em;
            height: auto;
        }

    }
    
    @media (max-width: 400px){
        .header-btn {
            min-width: 25%;
        }
        .header-btn div {
            width: 55%;
            height: 3px;
            margin: 4px 0;
        }
        header{
            height: 100px;
        }
        #headlines, #headlines.active{
            top:100px;
        }
    }
    @media (max-width: 360px){
    .header-btn div {
    width: 55%;
    height: 3px;
    margin: 6px 0;
    }
    .header-btn {
      min-width: 25%;
    }
    #headlines li a{
        font-size: 1.5em;
    }
    }