
.fancy {
    line-height: 0.5;
    text-align: center;
  }
  .fancy span {
    display: inline-block;
    position: relative; 
    height: content; 
    font-size: 2em;
    padding:20px;
    border: solid 3px #0060FF;
    border-radius: 30px;
  }
  .fancy span:before,
  .fancy span:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0060FF;
    top: 50%;
    width: 1000px;
  }
  .fancy span:before {
    right: 100%;
    margin-right: 0;
  }
  .fancy span:after {
    left: 100%;
    margin-left: 0;
  }

.repair_headline{
    font-size: 1.8em;
    font-weight: normal;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.Info_head{
    max-width: 100%;
    overflow-x: hidden;
}

/*=================================+++++++++++++++++++++++++++++++++++++++Headline ONLY-----------------------------*/

.first_text{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.3em;
}

.first_text h1{
    font-size: 1.6em;
    font-style: normal;
    font-weight: normal;
}

.car_gallery{
    list-style: none;
    text-align: center;
    padding-inline-start: 0;
}

.car_gallery li{
    display: inline;
}

.car_gallery img{
    width: 45%;
    margin: 5px;
} 


.map_contacts{
  background-color: #fff;
  padding-left: 15%;
  padding-right: 15%;
  height: min-content;
  width: 100%;
  text-align: center;
}

.map_contacts h4{
  font-style: normal;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*---------------------------OUR CARS BLOCK--------------------------------------------*/

.our_cars_headline{
  text-align: center;
  font-size: 2em;
}

.car_block{
  margin-top: 1.5em;
  margin-left: 15%;
  margin-right: 15%;
  display:flex;
}

.car_block_pic {
  width:50%;
  float:left;
  display: block;
  border-radius: 10px;
}

.car_block_article{
  width: 50%;
  float:left;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  height:inherit;
  text-align: center;
}

.car_block_article span{
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 1.3em;
}

.car_block_article p{
  text-align: left;
  font-size: 1.1em;
}
/*-----------------------------------------------------------------------------------------------*/

@media (max-width: 1700px){
  .car_block {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 1300px){
  .car_block_article {
    padding-left: 20px;
    padding-right: 0;
  }
}

@media (max-width: 1150px){
  .car_block_article p {
    text-align: left;
    font-size: 1em;
    margin: 0;
  }
  .our_cars_headline{
    font-size: 1.8em;
  }
}

/* 

.car_gallery img{
    float: left;
    margin-right: 10px;
    width: 45%;
} */

@media (max-width: 1024px){
  .map_contacts{
      padding-left: 5%;
      padding-right: 5%;
  }
  .car_block_article{
    padding-top: 0;
  }
}
@media (max-width:950px){
  .car_block_article p {
    font-size: 0.8em;
  }
  .car_block_article span{
    font-size: 1em;
  }
}

@media (max-width: 850px){
  .map_contacts{
    padding-left: 0;
    padding-right: 0;
}
.car_block {
  margin-top: 1.5em;
  margin-left: 0;
  margin-right: 0;
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}
.car_block_article {
  width: 60%;
  /* float: left; */
  /* padding-top: 20px; */
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}
.car_block_article p {
  font-size: 1em;
}
.car_block_article span{
  font-size: 1.3em;
}
.car_block_pic {
  width: 60%;
  float: left;
  display: block;
  margin: auto;
}
}

@media (max-width: 650px){
  .infoBlock {
      margin-bottom: 20px;
      font-size: 1.5em;
      flex-direction: column;
  }
  .textBlock1, .textBlock2{
      width: 70%;
      margin: 1% auto !important;
      word-wrap: none;
  }
  #m_part .attention {
    width: 100%;
}
h1 {
  margin: 0 0;
}
.car_block_pic {
  width: 80%;
}
.car_block_article {
  width: 80%;
}
}
@media (max-width: 500px){
  .our_cars_headline{
    font-size: 1.5em;
    max-width: 90%;
    margin: auto;
    padding-top: 10px;
  }
  .car_block_pic {
    width: 90%;
    border-radius: 0;
  }
  .car_block_article {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
  }
  .car_block_article p {
    font-size: 0.9em;
  }
  .car_block_article span{
    font-size: 1.1em;
  }
  
  .map_contacts h4{
      font-size: 2em;
  }
  .textBlock1, .textBlock2{
      width: 90%;
  }
  .car_gallery img {
    width: 80%;
  }
  .car_gallery {
    display: flex;
    flex-direction: column;
}
.first_text h1 {
  font-size: 1.4em;
}
}
@media (max-width: 399px){
  .textBlock1, .textBlock2{
      width: 95%;
  }
  .car_gallery img {
    width: 100%;
}
p, label {
  font-family: 'Exo 2',sans-serif;
  line-height: 1.2em;
  margin: 0 auto;
}
}
@media (max-width: 360px){
  .infoBlock p{
      font-size: 20px;
  }
}