
.footer_headline{
    font-weight: 900;
    font-size: 16px;
}

#footer_content{
  display: flex;
  justify-content: space-between;
  width:100%;
}


.copyright{
    margin-top:40px;
    color: #fff;
}

#wrapper{
    text-align: center;
    font-size: 1.2em;
}

.social_icons{
    margin:0 auto;
    width: 160px;
    display:flex;
    justify-content: space-between;
}

.social_icons img{
    cursor:pointer;
}

#wrapper p{
    margin-top: 5px;
    color: #fff;
}
.Footer_wrap a {
    background-color: transparent;
    text-decoration: none;
    color: #000;
}
.ui.list {
    line-height: 2;
}

@media (max-width: 900px){
    #footer_content{
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .social_icons{
        width: 100%;
    }
    .item{
        display: none;
    }
    .copyright{
    text-align: center;
    margin: 0 auto;
    }
    #wrapper p {
        margin-bottom: 5px;
    }
    Footer{
        height: fit-content;
    }
}
