
.footer_headline{
    font-weight: 900;
}

#footer_content{
  display: flex;
  justify-content: space-between;
  width:100%;
}


.copyright{
    margin-top:40px;
    color: #fff;
}

#wrapper{
    text-align: center;
    font-size: 1.2em;
}

.social_icons{
    margin:0 auto;
    width: 160px;
    display:flex;
    justify-content: space-between;
}

.social_icons img{
    cursor:pointer;
}

#wrapper p{
    margin-top: 5px;
    color: #fff;
}
