
.phone_call{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    background-color: rgba( 77,165,3, 1);
    border-radius: 50%;
    padding: 10px;
}


@media (max-width: 900px){
    .phone_call{
        display: block;
    }
}