

.main_wrapper{
    font-family: 'Exo 2', sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

#main_div{
    background-image: url('./main_pic.jpg');
    background-size: 100% 100%;
    height:874px;
    width: inherit;
    text-align: center;
    position: relative;
}

.main_header{  /* h2 */
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 0;
    margin-top: 0;
    margin-left:auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    border-radius: 10px;
    max-width: max-content;
    backdrop-filter: blur(4px);
    animation: fadein 2s
}


#MainPart{
    margin:auto;
    text-align: center;
    max-width: 1000px;
    height:700px;
    box-sizing: border-box;
}



.car_item1,.car_item2, .car_item3, .car_item4, .car_item5, .car_item6{
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    font-size:16px;
    display: inline-block;
    cursor: pointer;
    background-color: rgba(248, 148, 6, 1);
    border-radius: 10px;
    z-index: 1;
}

.car_item1{
    left:20%;
    top:250px;
    animation: fadein 2s;
}


.car_item2{
    left:45%;
    top:180px;
    animation: fadein 3s;
}

.car_item3{
    left: 40%;
    top: 800px;
    animation: fadein 4s;
}

.car_item4{
    max-width: 100%;
    left:65%;
    top:180px;
    animation: fadein 5s;
}

.car_item5{
    left:65%;
    top:700px;
    min-width:200px;
    animation: fadein 6s;
}

.car_item6{
    left:10%;
    top:750px;
    animation: fadein 7s;
}

.car_item1 span, .car_item2 span, .car_item3 span, .car_item4 span, .car_item5 span, .car_item6 span{
    padding-right: 25px;
    background-image: url('clone-regular.svg');
    background-position:right;
}


.car_item1_extend, .car_item2_extend, .car_item3_extend, .car_item4_extend, .car_item5_extend, .car_item6_extend {
    position: absolute;
    font-size: 14px;
    line-height: 15px;
    padding:5px;
    margin: 0;
    border-radius: 5px;
    max-width:300px;
    z-index:1;
    visibility: hidden;
}

.car_item1_extend{
    top: 200px;
    left: 20%;
}

.car_item2_extend{
    top: 130px;
    left: 41%;
}

.car_item3_extend{
    top: 750px;
    left: 37%;
}

.car_item4_extend{
    top: 150px;
    left: 66%;
}

.car_item5_extend{
    top: 650px;
    left: 61%;
}

.car_item6_extend{
    top: 700px;
    left: 5%;
}

.car_item1:hover ~ .car_item1_extend {
    background-color: rgba(255,255,255, 0.9);
    visibility: visible;
    animation: fadein 1.5s;
}

.car_item2:hover ~ .car_item2_extend {
    background-color: rgba(255,255,255, 0.9);
    visibility: visible;
    animation: fadein 1.5s;
}

.car_item3:hover ~ .car_item3_extend {
    background-color: rgba(255,255,255, 0.9);
    visibility: visible;
    animation: fadein 1.5s;
}

.car_item4:hover ~ .car_item4_extend {
    background-color: rgba(255,255,255, 0.9);
    visibility: visible;
    animation: fadein 1.5s;
}

.car_item5:hover ~ .car_item5_extend {
    background-color: rgba(255,255,255, 0.9);
    visibility: visible;
    animation: fadein 1.5s;
}

.car_item6:hover ~ .car_item6_extend {
    background-color: rgba(255,255,255, 0.9);
    visibility: visible;
    animation: fadein 1.5s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* #container:hover ~ #cube { background-color: yellow; } */

/*  It's example of hover code
.sibling-hover, #parent {
    cursor: pointer;
}
.sibling-hover:hover ~ .sibling-highlight {
    background-color: red;
    color: white;
}
*/

.our_service{
    background-color: #ECEDEE;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20px;
    height: min-content;
    width: 100%;
    text-align: center;
}

.our_service img{
    width:45%;
    border-radius: 20px;
}

.our_service article{
    text-align: left;
    border-left: 4px solid #50A0ED;
    margin-top: 30px;
    padding-left: 10px;
}

.second_headline{
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 3;
    margin-top: 0;
}

.contact-form{
    float: left;
}

.our_service figcaption{
    font-size: 24px;
}

.our_service article{
    font-size: 20px;
}

.main_wrapper h4{
    font-style: normal;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;

}

.map_contacts{
    background-color: #fff;
    padding-left: 15%;
    padding-right: 15%;
    height: min-content;
    width: 100%;
    text-align: center;
}

/*HIDE ALTERT STYLES--------------------------------*/



  /*-----------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1200px){
    #main_div{
        background-image: url('./main_pic2.jpg');
        background-size: cover;
        background-position: 0 0;
    }
}

@media (max-width: 1000px){
    .main_header{
        font-size: 1.5em;
        max-width: 100%;
        margin: 0;
        padding: 0;
    } 
}

@media (max-width: 600px){
        /*-------------------------TIMELESS CSS******************/
        .car_item5{
            display: none;
        }
        /***************************************/
}

@media (max-width: 500px){
    #main_div{
        background-image: url('./main_pic2.jpg');
        background-size: cover;
        background-position: 0 0;
    }
}